//reset
$min-width: 320px;
$max-width: 1140px;
$base-bg: #f0efef;
$base-font-size: 18px;
$base-line-height: normal;
$base-font-family: 'Ubuntu', sans-serif;
$custom-font-family: 'Open Sans', sans-serif;
$link-color: #0001a9;
$default-transition: all .25s ease-in-out 0s;

$main-text-color: #1a151c;
$site-color: #f26522;

//text, titles
$title-color: #1a151c;
$text-color: #474958;

$font-size-h1: 36px;
$line-height-h1: 42px;

$font-size-h2: 32px;
$line-height-h2: 37px;

$font-size-h3: 28px;
$line-height-h3: 32px;